In [283]:
import pandas as pd

In [284]:
temp = pd.read_csv("./result.csv")

In [285]:
temp

,종목코드,현재가,거래량,거래대금,일자,시가,고가,저가,수정주가구분,수정비율,대업종구분,소업종구분,종목정보,수정주가이벤트,전일종가
0,214610,3245,1018,3,20210122,3430,3430,2995,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,214610,2995,13940,36,20210121,2605,2995,2550,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,214610,2995,2328,6,20210120,3000,3000,2710,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,214610,3185,5285,14,20210119,2500,3185,2450,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,214610,2780,7,0,20210118,2780,2780,2780,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1356947,3480,5560,26682,148,20180822,5610,5620,5510,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1356948,3480,5580,35218,196,20180821,5670,5670,5540,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1356949,3480,5630,18378,103,20180820,5690,5690,5550,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1356950,3480,5700,18946,107,20180817,5650,5700,5600,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1356951,3480,5650,29552,167,20180816,5750,5750,5600,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [286]:
temp.isna().sum()

종목코드             0
현재가              0
거래량              0
거래대금             0
일자               0
시가               0
고가               0
저가               0
수정주가구분     1349249
수정비율       1348484
대업종구분      1356952
소업종구분      1356952
종목정보       1356952
수정주가이벤트    1356952
전일종가       1356952
dtype: int64

In [287]:
# NaN값 제거

df= temp.dropna(axis=1)
df

           종목코드   현재가    거래량  거래대금        일자    시가    고가    저가
0        214610  3245   1018     3  20210122  3430  3430  2995
1        214610  2995  13940    36  20210121  2605  2995  2550
2        214610  2995   2328     6  20210120  3000  3000  2710
3        214610  3185   5285    14  20210119  2500  3185  2450
4        214610  2780      7     0  20210118  2780  2780  2780
...         ...   ...    ...   ...       ...   ...   ...   ...
1356947    3480  5560  26682   148  20180822  5610  5620  5510
1356948    3480  5580  35218   196  20180821  5670  5670  5540
1356949    3480  5630  18378   103  20180820  5690  5690  5550
1356950    3480  5700  18946   107  20180817  5650  5700  5600
1356951    3480  5650  29552   167  20180816  5750  5750  5600

[1356952 rows x 8 columns]

In [288]:
# 필요없는 column제거

df= df.drop(['현재가','거래량','거래대금'],axis=1)
df

           종목코드        일자    시가    고가    저가
0        214610  20210122  3430  3430  2995
1        214610  20210121  2605  2995  2550
2        214610  20210120  3000  3000  2710
3        214610  20210119  2500  3185  2450
4        214610  20210118  2780  2780  2780
...         ...       ...   ...   ...   ...
1356947    3480  20180822  5610  5620  5510
1356948    3480  20180821  5670  5670  5540
1356949    3480  20180820  5690  5690  5550
1356950    3480  20180817  5650  5700  5600
1356951    3480  20180816  5750  5750  5600

[1356952 rows x 5 columns]

In [289]:
df_drop= df.copy()
df_drop

           종목코드        일자    시가    고가    저가
0        214610  20210122  3430  3430  2995
1        214610  20210121  2605  2995  2550
2        214610  20210120  3000  3000  2710
3        214610  20210119  2500  3185  2450
4        214610  20210118  2780  2780  2780
...         ...       ...   ...   ...   ...
1356947    3480  20180822  5610  5620  5510
1356948    3480  20180821  5670  5670  5540
1356949    3480  20180820  5690  5690  5550
1356950    3480  20180817  5650  5700  5600
1356951    3480  20180816  5750  5750  5600

[1356952 rows x 5 columns]

In [208]:
# 데이터 전처리한 거 df_drop.csv로 파일 저장

df_drop.to_csv("./df_drop.csv", index=False)

In [290]:
df=df_drop
df

           종목코드        일자    시가    고가    저가
0        214610  20210122  3430  3430  2995
1        214610  20210121  2605  2995  2550
2        214610  20210120  3000  3000  2710
3        214610  20210119  2500  3185  2450
4        214610  20210118  2780  2780  2780
...         ...       ...   ...   ...   ...
1356947    3480  20180822  5610  5620  5510
1356948    3480  20180821  5670  5670  5540
1356949    3480  20180820  5690  5690  5550
1356950    3480  20180817  5650  5700  5600
1356951    3480  20180816  5750  5750  5600

[1356952 rows x 5 columns]

In [291]:
df['평균가']= (df['고가']+df['저가'])/2
df

           종목코드        일자    시가    고가    저가     평균가
0        214610  20210122  3430  3430  2995  3212.5
1        214610  20210121  2605  2995  2550  2772.5
2        214610  20210120  3000  3000  2710  2855.0
3        214610  20210119  2500  3185  2450  2817.5
4        214610  20210118  2780  2780  2780  2780.0
...         ...       ...   ...   ...   ...     ...
1356947    3480  20180822  5610  5620  5510  5565.0
1356948    3480  20180821  5670  5670  5540  5605.0
1356949    3480  20180820  5690  5690  5550  5620.0
1356950    3480  20180817  5650  5700  5600  5650.0
1356951    3480  20180816  5750  5750  5600  5675.0

[1356952 rows x 6 columns]

In [292]:
# 하루동안의 주가 변동율  "day_percent"
# (day_percent) = (고가 - 저가)/ (평균가) * 100 
# day_percent를 df의 새로운 column으로 추가

df['day_percent']= (df['고가']-df['저가'])/df['평균가']*100
df

           종목코드        일자    시가    고가    저가     평균가  day_percent
0        214610  20210122  3430  3430  2995  3212.5    13.540856
1        214610  20210121  2605  2995  2550  2772.5    16.050496
2        214610  20210120  3000  3000  2710  2855.0    10.157618
3        214610  20210119  2500  3185  2450  2817.5    26.086957
4        214610  20210118  2780  2780  2780  2780.0     0.000000
...         ...       ...   ...   ...   ...     ...          ...
1356947    3480  20180822  5610  5620  5510  5565.0     1.976640
1356948    3480  20180821  5670  5670  5540  5605.0     2.319358
1356949    3480  20180820  5690  5690  5550  5620.0     2.491103
1356950    3480  20180817  5650  5700  5600  5650.0     1.769912
1356951    3480  20180816  5750  5750  5600  5675.0     2.643172

[1356952 rows x 7 columns]

In [293]:
# day_percent열을 추가한 데이터프레임을 "df_day_percent"라는 새로운 데이터프레임에 복사

df_day_percent= df.copy()
df_day_percent

           종목코드        일자    시가    고가    저가     평균가  day_percent
0        214610  20210122  3430  3430  2995  3212.5    13.540856
1        214610  20210121  2605  2995  2550  2772.5    16.050496
2        214610  20210120  3000  3000  2710  2855.0    10.157618
3        214610  20210119  2500  3185  2450  2817.5    26.086957
4        214610  20210118  2780  2780  2780  2780.0     0.000000
...         ...       ...   ...   ...   ...     ...          ...
1356947    3480  20180822  5610  5620  5510  5565.0     1.976640
1356948    3480  20180821  5670  5670  5540  5605.0     2.319358
1356949    3480  20180820  5690  5690  5550  5620.0     2.491103
1356950    3480  20180817  5650  5700  5600  5650.0     1.769912
1356951    3480  20180816  5750  5750  5600  5675.0     2.643172

[1356952 rows x 7 columns]

In [294]:
# df_day_percent의 정렬순서를 '종목코드'와 '일자'를 기준으로 오름차순 정렬

df_day_percent= df_day_percent.sort_values(by=['종목코드','일자'])
df_day_percent

           종목코드        일자     시가     고가     저가      평균가  day_percent
1301151      20  20180816  61900  61900  60300  61100.0     2.618658
1301150      20  20180817  61100  61600  60500  61050.0     1.801802
1301149      20  20180820  61400  62100  61100  61600.0     1.623377
1301148      20  20180821  61800  62100  61000  61550.0     1.787165
1301147      20  20180822  62200  62600  60000  61300.0     4.241436
...         ...       ...    ...    ...    ...      ...          ...
6838     950200  20210118   2085   2085   2085   2085.0     0.000000
6837     950200  20210119   2080   2115   2080   2097.5     1.668653
6836     950200  20210120   2080   2110   2080   2095.0     1.431981
6835     950200  20210121   2105   2105   2100   2102.5     0.237812
6834     950200  20210122   2100   2100   2095   2097.5     0.238379

[1356952 rows x 7 columns]

In [295]:
# df_day_percent의 정렬순서를 바꾸면서 꼬인 index값 재설정

df_day_percent= df_day_percent.reset_index(drop=True)
df_day_percent

           종목코드        일자     시가     고가     저가      평균가  day_percent
0            20  20180816  61900  61900  60300  61100.0     2.618658
1            20  20180817  61100  61600  60500  61050.0     1.801802
2            20  20180820  61400  62100  61100  61600.0     1.623377
3            20  20180821  61800  62100  61000  61550.0     1.787165
4            20  20180822  62200  62600  60000  61300.0     4.241436
...         ...       ...    ...    ...    ...      ...          ...
1356947  950200  20210118   2085   2085   2085   2085.0     0.000000
1356948  950200  20210119   2080   2115   2080   2097.5     1.668653
1356949  950200  20210120   2080   2110   2080   2095.0     1.431981
1356950  950200  20210121   2105   2105   2100   2102.5     0.237812
1356951  950200  20210122   2100   2100   2095   2097.5     0.238379

[1356952 rows x 7 columns]

In [271]:
# df_day_percent를 csv파일로 저장

df_day_percent.to_csv("./add_day_percent.csv", index= False)

In [296]:
df_day_percent= df_day_percent.set_index(['종목코드','일자'])
df_day_percent

                    시가     고가     저가      평균가  day_percent
종목코드   일자
20     20180816  61900  61900  60300  61100.0     2.618658
       20180817  61100  61600  60500  61050.0     1.801802
       20180820  61400  62100  61100  61600.0     1.623377
       20180821  61800  62100  61000  61550.0     1.787165
       20180822  62200  62600  60000  61300.0     4.241436
...                ...    ...    ...      ...          ...
950200 20210118   2085   2085   2085   2085.0     0.000000
       20210119   2080   2115   2080   2097.5     1.668653
       20210120   2080   2110   2080   2095.0     1.431981
       20210121   2105   2105   2100   2102.5     0.237812
       20210122   2100   2100   2095   2097.5     0.238379

[1356952 rows x 5 columns]

In [297]:
# df_day_percent의 '일자' index를 unstack하여 열 index로 전환

df_unstack_date=df_day_percent.unstack('일자')
df_unstack_date

              시가                                                              \
일자      20180816  20180817  20180820  20180821  20180822  20180823  20180824
종목코드
20       61900.0   61100.0   61400.0   61800.0   62200.0   60900.0   60500.0
40       47200.0   46800.0   48000.0   47500.0   47200.0   47900.0   46400.0
50       18700.0   18950.0   18750.0   18700.0   18900.0   18400.0   18600.0
60      142500.0  145500.0  144500.0  148500.0  152000.0  156500.0  156000.0
70       23750.0   23000.0   22850.0   22950.0   22950.0   23000.0   23150.0
...          ...       ...       ...       ...       ...       ...       ...
950160   13000.0   13050.0   13850.0   14550.0   14400.0   14350.0   14200.0
950170     288.0     289.0     280.0     325.0     313.0     318.0     330.0
950180       NaN       NaN       NaN       NaN       NaN       NaN       NaN
950190       NaN       NaN       NaN       NaN       NaN       NaN       NaN
950200       NaN       NaN       NaN       NaN       NaN       NaN       NaN

                                      ... day_percent                        \
일자      20180827  20180828  20180829  ...    20210111   20210112   20210113
종목코드                                  ...
20       60600.0   61200.0   61000.0  ...    6.351931   4.405286   3.011515
40       46800.0   46500.0   47100.0  ...    6.818182   1.172638   1.302083
50       18550.0   18200.0   18150.0  ...    3.799655   3.174603   3.839442
60      153500.0  154500.0  154000.0  ...    3.519062   2.352941   1.749271
70       23650.0   23600.0   23400.0  ...    4.750594   1.951220   2.433090
...          ...       ...       ...  ...         ...        ...        ...
950160   14300.0   14850.0   14600.0  ...    7.933194   8.686211   6.859593
950170     328.0     328.0     327.0  ...    5.405405  11.805556  12.751678
950180       NaN       NaN       NaN  ...    4.743688  12.270916   4.508857
950190       NaN       NaN       NaN  ...    0.000000   0.000000  13.285458
950200       NaN       NaN       NaN  ...    1.191895   2.380952   2.358491

                                                                          \
일자       20210114   20210115   20210118   20210119   20210120   20210121
종목코드
20       1.413428   3.571429   2.941176   2.214022   4.405286   1.718213
40       2.217873   0.779221   1.815824   1.554404   1.425794   1.680672
50       5.059022   3.344482   3.066440   3.412969   1.351351   2.985075
60       2.346041   4.341534   4.552352   2.424242   2.416918   1.485884
70       1.452785   2.843602   2.398082   1.932367   2.898551   3.874092
...           ...        ...        ...        ...        ...        ...
950160   5.045625   4.532891   7.364115  12.478134   7.338381   3.433985
950170  10.810811  11.620795  13.333333  22.295082  14.583333  14.814815
950180   3.618421   6.504065   4.262295   2.640264   4.620462   7.217322
950190  29.118774   9.330629   7.246377   5.555556  10.909091   2.225755
950200   1.664685   2.634731   0.000000   1.668653   1.431981   0.237812


일자       20210122
종목코드
20       8.053691
40       1.423948
50       2.306425
60       3.249631
70       1.684717
...           ...
950160   8.010013
950170  15.503876
950180   6.021155
950190   0.000000
950200   0.238379

[2372 rows x 3000 columns]

In [298]:
# '일자' index를 열 index로 변환한 데이터프레임을 df에 저장

df=df_unstack_date
df

              시가                                                              \
일자      20180816  20180817  20180820  20180821  20180822  20180823  20180824
종목코드
20       61900.0   61100.0   61400.0   61800.0   62200.0   60900.0   60500.0
40       47200.0   46800.0   48000.0   47500.0   47200.0   47900.0   46400.0
50       18700.0   18950.0   18750.0   18700.0   18900.0   18400.0   18600.0
60      142500.0  145500.0  144500.0  148500.0  152000.0  156500.0  156000.0
70       23750.0   23000.0   22850.0   22950.0   22950.0   23000.0   23150.0
...          ...       ...       ...       ...       ...       ...       ...
950160   13000.0   13050.0   13850.0   14550.0   14400.0   14350.0   14200.0
950170     288.0     289.0     280.0     325.0     313.0     318.0     330.0
950180       NaN       NaN       NaN       NaN       NaN       NaN       NaN
950190       NaN       NaN       NaN       NaN       NaN       NaN       NaN
950200       NaN       NaN       NaN       NaN       NaN       NaN       NaN

                                      ... day_percent                        \
일자      20180827  20180828  20180829  ...    20210111   20210112   20210113
종목코드                                  ...
20       60600.0   61200.0   61000.0  ...    6.351931   4.405286   3.011515
40       46800.0   46500.0   47100.0  ...    6.818182   1.172638   1.302083
50       18550.0   18200.0   18150.0  ...    3.799655   3.174603   3.839442
60      153500.0  154500.0  154000.0  ...    3.519062   2.352941   1.749271
70       23650.0   23600.0   23400.0  ...    4.750594   1.951220   2.433090
...          ...       ...       ...  ...         ...        ...        ...
950160   14300.0   14850.0   14600.0  ...    7.933194   8.686211   6.859593
950170     328.0     328.0     327.0  ...    5.405405  11.805556  12.751678
950180       NaN       NaN       NaN  ...    4.743688  12.270916   4.508857
950190       NaN       NaN       NaN  ...    0.000000   0.000000  13.285458
950200       NaN       NaN       NaN  ...    1.191895   2.380952   2.358491

                                                                          \
일자       20210114   20210115   20210118   20210119   20210120   20210121
종목코드
20       1.413428   3.571429   2.941176   2.214022   4.405286   1.718213
40       2.217873   0.779221   1.815824   1.554404   1.425794   1.680672
50       5.059022   3.344482   3.066440   3.412969   1.351351   2.985075
60       2.346041   4.341534   4.552352   2.424242   2.416918   1.485884
70       1.452785   2.843602   2.398082   1.932367   2.898551   3.874092
...           ...        ...        ...        ...        ...        ...
950160   5.045625   4.532891   7.364115  12.478134   7.338381   3.433985
950170  10.810811  11.620795  13.333333  22.295082  14.583333  14.814815
950180   3.618421   6.504065   4.262295   2.640264   4.620462   7.217322
950190  29.118774   9.330629   7.246377   5.555556  10.909091   2.225755
950200   1.664685   2.634731   0.000000   1.668653   1.431981   0.237812


일자       20210122
종목코드
20       8.053691
40       1.423948
50       2.306425
60       3.249631
70       1.684717
...           ...
950160   8.010013
950170  15.503876
950180   6.021155
950190   0.000000
950200   0.238379

[2372 rows x 3000 columns]

In [299]:
# df중에서 "시가" 열만 뽑아서 "df_startprice" 데이터프레임에 저장

df_startprice= df.xs('시가',axis =1)
df_startprice

일자,20180816,20180817,20180820,20180821,20180822,20180823,20180824,20180827,20180828,20180829,...,20210111,20210112,20210113,20210114,20210115,20210118,20210119,20210120,20210121,20210122
종목코드,,,,,,,,,,,,,,,,,,,,,
20,61900.0,61100.0,61400.0,61800.0,62200.0,60900.0,60500.0,60600.0,61200.0,61000.0,...,59100.0,57100.0,56500.0,56300.0,56500.0,54600.0,54400.0,55900.0,58300.0,58300.0
40,47200.0,46800.0,48000.0,47500.0,47200.0,47900.0,46400.0,46800.0,46500.0,47100.0,...,39100.0,38350.0,38400.0,38450.0,38550.0,38500.0,38550.0,38800.0,39000.0,38650.0
50,18700.0,18950.0,18750.0,18700.0,18900.0,18400.0,18600.0,18550.0,18200.0,18150.0,...,14750.0,14200.0,14150.0,14550.0,15150.0,14900.0,14700.0,14700.0,14900.0,15350.0
60,142500.0,145500.0,144500.0,148500.0,152000.0,156500.0,156000.0,153500.0,154500.0,154000.0,...,173000.0,171500.0,173000.0,169500.0,172000.0,167500.0,163000.0,165500.0,167500.0,171000.0
70,23750.0,23000.0,22850.0,22950.0,22950.0,23000.0,23150.0,23650.0,23600.0,23400.0,...,21450.0,20700.0,20550.0,20550.0,20850.0,21000.0,20900.0,20600.0,20450.0,20950.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
950160,13000.0,13050.0,13850.0,14550.0,14400.0,14350.0,14200.0,14300.0,14850.0,14600.0,...,9960.0,8950.0,9120.0,9500.0,9190.0,8860.0,8190.0,8310.0,8350.0,8310.0
950170,288.0,289.0,280.0,325.0,313.0,318.0,330.0,328.0,328.0,327.0,...,285.0,271.0,279.0,291.0,308.0,328.0,339.0,309.0,250.0,238.0
950180,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6690.0,6390.0,6130.0,6190.0,6120.0,6220.0,6100.0,6060.0,6040.0,6130.0
950190,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,16200.0,15200.0,14850.0,11150.0,11750.0,13300.0,14800.0,15150.0,15550.0,14650.0
950200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2085.0,2075.0,2140.0,2120.0,2115.0,2085.0,2080.0,2080.0,2105.0,2100.0

In [300]:
# df에 df_startprice저장
df= df_startprice
df

일자,20180816,20180817,20180820,20180821,20180822,20180823,20180824,20180827,20180828,20180829,...,20210111,20210112,20210113,20210114,20210115,20210118,20210119,20210120,20210121,20210122
종목코드,,,,,,,,,,,,,,,,,,,,,
20,61900.0,61100.0,61400.0,61800.0,62200.0,60900.0,60500.0,60600.0,61200.0,61000.0,...,59100.0,57100.0,56500.0,56300.0,56500.0,54600.0,54400.0,55900.0,58300.0,58300.0
40,47200.0,46800.0,48000.0,47500.0,47200.0,47900.0,46400.0,46800.0,46500.0,47100.0,...,39100.0,38350.0,38400.0,38450.0,38550.0,38500.0,38550.0,38800.0,39000.0,38650.0
50,18700.0,18950.0,18750.0,18700.0,18900.0,18400.0,18600.0,18550.0,18200.0,18150.0,...,14750.0,14200.0,14150.0,14550.0,15150.0,14900.0,14700.0,14700.0,14900.0,15350.0
60,142500.0,145500.0,144500.0,148500.0,152000.0,156500.0,156000.0,153500.0,154500.0,154000.0,...,173000.0,171500.0,173000.0,169500.0,172000.0,167500.0,163000.0,165500.0,167500.0,171000.0
70,23750.0,23000.0,22850.0,22950.0,22950.0,23000.0,23150.0,23650.0,23600.0,23400.0,...,21450.0,20700.0,20550.0,20550.0,20850.0,21000.0,20900.0,20600.0,20450.0,20950.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
950160,13000.0,13050.0,13850.0,14550.0,14400.0,14350.0,14200.0,14300.0,14850.0,14600.0,...,9960.0,8950.0,9120.0,9500.0,9190.0,8860.0,8190.0,8310.0,8350.0,8310.0
950170,288.0,289.0,280.0,325.0,313.0,318.0,330.0,328.0,328.0,327.0,...,285.0,271.0,279.0,291.0,308.0,328.0,339.0,309.0,250.0,238.0
950180,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6690.0,6390.0,6130.0,6190.0,6120.0,6220.0,6100.0,6060.0,6040.0,6130.0
950190,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,16200.0,15200.0,14850.0,11150.0,11750.0,13300.0,14800.0,15150.0,15550.0,14650.0
950200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2085.0,2075.0,2140.0,2120.0,2115.0,2085.0,2080.0,2080.0,2105.0,2100.0

In [301]:
# 데이터프레임의 index위치 잘 작동하는지 테스트

df.iloc[0,0]

61900.0

In [302]:
# df의 열 인덱스와 행 인덱스를 각각 col, ind 변수로 받음
# col과 ind를 list 자료구조로 변경

ind= df.index
col= df.columns

ind= list(ind)
col= list(col)

type(col)

list

In [303]:
# df의 열 인덱스를 리스트 형태로 저장한 "col"을 열 인덱스로하는 새로운 데이터프레임 "df_new"생성
# 새로운 데이터프레임 "df_new"의 열 인덱스는 df의 열 인덱스와 같고, 데이터프레임 내부는 비어있는 상태

df_new= pd.DataFrame(columns= col)
df_new

Empty DataFrame
Columns: [20180816, 20180817, 20180820, 20180821, 20180822, 20180823, 20180824, 20180827, 20180828, 20180829, 20180830, 20180831, 20180903, 20180904, 20180905, 20180906, 20180907, 20180910, 20180911, 20180912, 20180913, 20180914, 20180917, 20180918, 20180919, 20180920, 20180921, 20180927, 20180928, 20181001, 20181002, 20181004, 20181005, 20181008, 20181010, 20181011, 20181012, 20181015, 20181016, 20181017, 20181018, 20181019, 20181022, 20181023, 20181024, 20181025, 20181026, 20181029, 20181030, 20181031, 20181101, 20181102, 20181105, 20181106, 20181107, 20181108, 20181109, 20181112, 20181113, 20181114, 20181115, 20181116, 20181119, 20181120, 20181121, 20181122, 20181123, 20181126, 20181127, 20181128, 20181129, 20181130, 20181203, 20181204, 20181205, 20181206, 20181207, 20181210, 20181211, 20181212, 20181213, 20181214, 20181217, 20181218, 20181219, 20181220, 20181221, 20181224, 20181226, 20181227, 20181228, 20190102, 20190103, 20190104, 20190107, 20190108, 20190109, 20190110, 20190111, 20190114, ...]
Index: []

[0 rows x 600 columns]

In [304]:
# df의 행 인덱스를 리스트 형태로 저장한 "ind"를 df_new의 새로운 column으로 추가, column명은 '종목코드'

df_new['종목코드']=ind
df_new

,20180816,20180817,20180820,20180821,20180822,20180823,20180824,20180827,20180828,20180829,...,20210112,20210113,20210114,20210115,20210118,20210119,20210120,20210121,20210122,종목코드
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,60
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2367,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,950160
2368,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,950170
2369,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,950180
2370,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,950190
2371,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,950200

In [305]:
# df의 행 인덱스인 종목코드를 "df_new"의 행 인덱스로 설정
# df의 행 인덱스, 열 인덱스와 같은 인덱스를 가진 빈 데이터프레임 "df_new"가 생성됨

df_new= df_new.set_index(keys="종목코드")
df_new

,20180816,20180817,20180820,20180821,20180822,20180823,20180824,20180827,20180828,20180829,...,20210111,20210112,20210113,20210114,20210115,20210118,20210119,20210120,20210121,20210122
종목코드,,,,,,,,,,,,,,,,,,,,,
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
950160,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
950170,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
950180,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
950190,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
950200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [306]:
# df_new의 행과 열 갯수를 각각 row와 column 변수로 받음

(row,column) = df_new.shape
print(row)
print(column)

2372
600

In [308]:
def y_to_t_percent(i,j):
    while(i < row):
        df_new.iloc[i,0]= ''
        while(j < column):
            df_new.iloc[i,j]=(df.iloc[i,j]-df.iloc[i,j-1])/df.iloc[i,j-1]*100   
            j += 1
        i+= 1
        j=1
        
y_to_t_percent(0,1)

### y_to_t_percent 함수 설명

**어제부터 오늘의 주가 변동율   "y_to_t_percent"  
(y_to_t_percent) = (오늘 시가 - 전날 시가)/ 전날 시가 * 100**  
  
"종목코드"를 행 인덱스, "일자"를 열 인덱스로 "시가" 데이터만 저장한 데이터프레임 df에서  
df의 열끼리 연산하여 (y_to_t_percent)값을 df_new에 채우기  
  
df_new에서 첫번째 열(첫번째 날짜)의 "시가"는 비교할 대상(전날 시가)이 없기 때문에 계산에서 제외함   
df_new의 첫번째 열에는 값을 비워 둠(NaN)
  
  
#### while문  
행 인덱스(종목코드)는 i, 열 인덱스(일자)는 j 변수   
i는 row보다 작을 동안 while문 실행, j는 column보다 작을 동안 두번째 while문 실행  
*(인덱스 번호가 0부터 시작하기 때문에 (row-1), (column-1)까지가 행과 열 전체 인덱스임)*  

```python
    df_new.iloc[i,0]= ''
```
-> df_new의 첫번째 열(첫째날)에는 값을 비워 둠

```python
    while(j < column):
        df_new.iloc[i,j]=(df.iloc[i,j]-df.iloc[i,j-1])/df.iloc[i,j-1]*100   
        j += 1
```
1. j는 첫번째 열을 제외하고 두번째 열(index=1)부터 시작해서 while문 실행
2. df_new의 i=0행 j열의 값= ((오늘 시가)-(전날 시가)) / (전날 시가) * 100
(전날 시가 대비 오늘 시가가 얼마나 변했는지 계산해여 하므로 오늘 시가에서 전날 시가를 뺌)
3. "j+=1"을 통해 한칸 옆의 열로 이동해서 계산식 반복을 통해 첫번째 행(index=0)값 채우기

```python
while(i < row):
    df_new.iloc[i,0]= ''
    while(j < column):
        df_new.iloc[i,j]=(df.iloc[i,j-1]-df.iloc[i,j])/df.iloc[i,j-1]*100   
        j += 1
    i+= 1
    j=1
```
1. "i+=1"을 통해 한칸 아래 행으로 이동
2. "j=1"로 열 인덱스값 초기화
3. 다시 바깥쪽 while문의 처음으로 돌아가서 두번째 행(index=1)의 첫번째 열(index=0)의 값 비워둠
4. 현재 "j=1"이기 때문에 2번재 행의 두번째 열부터 안쪽 while문 다시 실행
5. 제일 마지막 행까지 중첩 while문을 실행하여 "df_new" 채움

In [309]:
df_new

,20180816,20180817,20180820,20180821,20180822,20180823,20180824,20180827,20180828,20180829,...,20210111,20210112,20210113,20210114,20210115,20210118,20210119,20210120,20210121,20210122
종목코드,,,,,,,,,,,,,,,,,,,,,
20,,-1.29241,0.490998,0.651466,0.647249,-2.09003,-0.656814,0.165289,0.990099,-0.326797,...,0.339559,-3.38409,-1.05079,-0.353982,0.35524,-3.36283,-0.3663,2.75735,4.29338,0
40,,-0.847458,2.5641,-1.04167,-0.631579,1.48305,-3.13152,0.862069,-0.641026,1.29032,...,-1.1378,-1.91816,0.130378,0.130208,0.260078,-0.129702,0.12987,0.648508,0.515464,-0.897436
50,,1.3369,-1.05541,-0.266667,1.06952,-2.6455,1.08696,-0.268817,-1.88679,-0.274725,...,-1.00671,-3.72881,-0.352113,2.82686,4.12371,-1.65017,-1.34228,0,1.36054,3.02013
60,,2.10526,-0.687285,2.76817,2.3569,2.96053,-0.319489,-1.60256,0.651466,-0.323625,...,-1.14286,-0.867052,0.874636,-2.02312,1.47493,-2.61628,-2.68657,1.53374,1.20846,2.08955
70,,-3.15789,-0.652174,0.437637,0,0.217865,0.652174,2.15983,-0.211416,-0.847458,...,0.704225,-3.4965,-0.724638,0,1.45985,0.719424,-0.47619,-1.43541,-0.728155,2.44499
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
950160,,0.384615,6.13027,5.05415,-1.03093,-0.347222,-1.0453,0.704225,3.84615,-1.6835,...,-9.0411,-10.1406,1.89944,4.16667,-3.26316,-3.59086,-7.56208,1.4652,0.481348,-0.479042
950170,,0.347222,-3.11419,16.0714,-3.69231,1.59744,3.77358,-0.606061,0,-0.304878,...,-3.38983,-4.91228,2.95203,4.30108,5.84192,6.49351,3.35366,-8.84956,-19.0939,-4.8
950180,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.04355,-4.4843,-4.06886,0.978793,-1.13086,1.63399,-1.92926,-0.655738,-0.330033,1.49007
950190,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,33.3333,-6.17284,-2.30263,-24.9158,5.38117,13.1915,11.2782,2.36486,2.64026,-5.78778
950200,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,-0.479616,3.13253,-0.934579,-0.235849,-1.41844,-0.239808,0,1.20192,-0.23753

In [310]:
# df_new의 열 인덱스 이름을 '일자'로 설정

df_new.columns.names=['일자']
df_new

일자,20180816,20180817,20180820,20180821,20180822,20180823,20180824,20180827,20180828,20180829,...,20210111,20210112,20210113,20210114,20210115,20210118,20210119,20210120,20210121,20210122
종목코드,,,,,,,,,,,,,,,,,,,,,
20,,-1.29241,0.490998,0.651466,0.647249,-2.09003,-0.656814,0.165289,0.990099,-0.326797,...,0.339559,-3.38409,-1.05079,-0.353982,0.35524,-3.36283,-0.3663,2.75735,4.29338,0
40,,-0.847458,2.5641,-1.04167,-0.631579,1.48305,-3.13152,0.862069,-0.641026,1.29032,...,-1.1378,-1.91816,0.130378,0.130208,0.260078,-0.129702,0.12987,0.648508,0.515464,-0.897436
50,,1.3369,-1.05541,-0.266667,1.06952,-2.6455,1.08696,-0.268817,-1.88679,-0.274725,...,-1.00671,-3.72881,-0.352113,2.82686,4.12371,-1.65017,-1.34228,0,1.36054,3.02013
60,,2.10526,-0.687285,2.76817,2.3569,2.96053,-0.319489,-1.60256,0.651466,-0.323625,...,-1.14286,-0.867052,0.874636,-2.02312,1.47493,-2.61628,-2.68657,1.53374,1.20846,2.08955
70,,-3.15789,-0.652174,0.437637,0,0.217865,0.652174,2.15983,-0.211416,-0.847458,...,0.704225,-3.4965,-0.724638,0,1.45985,0.719424,-0.47619,-1.43541,-0.728155,2.44499
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
950160,,0.384615,6.13027,5.05415,-1.03093,-0.347222,-1.0453,0.704225,3.84615,-1.6835,...,-9.0411,-10.1406,1.89944,4.16667,-3.26316,-3.59086,-7.56208,1.4652,0.481348,-0.479042
950170,,0.347222,-3.11419,16.0714,-3.69231,1.59744,3.77358,-0.606061,0,-0.304878,...,-3.38983,-4.91228,2.95203,4.30108,5.84192,6.49351,3.35366,-8.84956,-19.0939,-4.8
950180,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.04355,-4.4843,-4.06886,0.978793,-1.13086,1.63399,-1.92926,-0.655738,-0.330033,1.49007
950190,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,33.3333,-6.17284,-2.30263,-24.9158,5.38117,13.1915,11.2782,2.36486,2.64026,-5.78778
950200,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,-0.479616,3.13253,-0.934579,-0.235849,-1.41844,-0.239808,0,1.20192,-0.23753

In [311]:
# df_new의 열 인덱스 '일자'를 행 인덱스로 변환시킴
# stack()을 이용하여 변환시키면 series 형태로 저장됨
# 데이터프레임으로 변환하여 "df_y_count"에 저장

df_y_percent=pd.DataFrame(df_new.stack('일자'))
df_y_percent

                        0
종목코드   일자
20     20180816
       20180817  -1.29241
       20180820  0.490998
       20180821  0.651466
       20180822  0.647249
...                   ...
950200 20210118  -1.41844
       20210119 -0.239808
       20210120         0
       20210121   1.20192
       20210122  -0.23753

[1356952 rows x 1 columns]

In [312]:
# df_y_percent의 열 이름을 "y_to_t_percent"로 변경

df_y_percent.columns= ['y_to_t_percent']
df_y_percent

                y_to_t_percent
종목코드   일자
20     20180816
       20180817       -1.29241
       20180820       0.490998
       20180821       0.651466
       20180822       0.647249
...                        ...
950200 20210118       -1.41844
       20210119      -0.239808
       20210120              0
       20210121        1.20192
       20210122       -0.23753

[1356952 rows x 1 columns]

In [314]:
df_y_percent.to_csv('./y_to_t_percent_only.csv')

In [315]:
df_day_percent

                    시가     고가     저가      평균가  day_percent
종목코드   일자
20     20180816  61900  61900  60300  61100.0     2.618658
       20180817  61100  61600  60500  61050.0     1.801802
       20180820  61400  62100  61100  61600.0     1.623377
       20180821  61800  62100  61000  61550.0     1.787165
       20180822  62200  62600  60000  61300.0     4.241436
...                ...    ...    ...      ...          ...
950200 20210118   2085   2085   2085   2085.0     0.000000
       20210119   2080   2115   2080   2097.5     1.668653
       20210120   2080   2110   2080   2095.0     1.431981
       20210121   2105   2105   2100   2102.5     0.237812
       20210122   2100   2100   2095   2097.5     0.238379

[1356952 rows x 5 columns]

In [316]:
# 데이터프레임을 합치기 위해 df_groupby 데이터프레임의 index를 초기화시킴

df_day_percent=df_day_percent.reset_index()
df_day_percent

           종목코드        일자     시가     고가     저가      평균가  day_percent
0            20  20180816  61900  61900  60300  61100.0     2.618658
1            20  20180817  61100  61600  60500  61050.0     1.801802
2            20  20180820  61400  62100  61100  61600.0     1.623377
3            20  20180821  61800  62100  61000  61550.0     1.787165
4            20  20180822  62200  62600  60000  61300.0     4.241436
...         ...       ...    ...    ...    ...      ...          ...
1356947  950200  20210118   2085   2085   2085   2085.0     0.000000
1356948  950200  20210119   2080   2115   2080   2097.5     1.668653
1356949  950200  20210120   2080   2110   2080   2095.0     1.431981
1356950  950200  20210121   2105   2105   2100   2102.5     0.237812
1356951  950200  20210122   2100   2100   2095   2097.5     0.238379

[1356952 rows x 7 columns]

In [317]:
# 데이터프레임을 합치기 위해 df_y_percent 데이터프레임의 index를 초기화시킴
df_y_percent=df_y_percent.reset_index()
df_y_percent

           종목코드        일자 y_to_t_percent
0            20  20180816
1            20  20180817       -1.29241
2            20  20180820       0.490998
3            20  20180821       0.651466
4            20  20180822       0.647249
...         ...       ...            ...
1356947  950200  20210118       -1.41844
1356948  950200  20210119      -0.239808
1356949  950200  20210120              0
1356950  950200  20210121        1.20192
1356951  950200  20210122       -0.23753

[1356952 rows x 3 columns]

In [318]:
# df_groupby와 df_y_percent를 df_groupby기준으로 합침
# 합친 데이터 프레임을 "df_y_to_t_percent"라는 데이터프레임생성하여 저장

df_y_to_t_percent=pd.merge(df_day_percent,df_y_percent, how='left')
df_y_to_t_percent

,종목코드,일자,시가,고가,저가,평균가,day_percent,y_to_t_percent
0,20,20180816,61900,61900,60300,61100.0,2.618658,
1,20,20180817,61100,61600,60500,61050.0,1.801802,-1.29241
2,20,20180820,61400,62100,61100,61600.0,1.623377,0.490998
3,20,20180821,61800,62100,61000,61550.0,1.787165,0.651466
4,20,20180822,62200,62600,60000,61300.0,4.241436,0.647249
...,...,...,...,...,...,...,...,...
1356947,950200,20210118,2085,2085,2085,2085.0,0.000000,-1.41844
1356948,950200,20210119,2080,2115,2080,2097.5,1.668653,-0.239808
1356949,950200,20210120,2080,2110,2080,2095.0,1.431981,0
1356950,950200,20210121,2105,2105,2100,2102.5,0.237812,1.20192
1356951,950200,20210122,2100,2100,2095,2097.5,0.238379,-0.23753

In [320]:
df_y_to_t_percent.to_csv("./add_y_to_t_percent.csv", index=False)