In [2]:
import pandas as pd

## y_to_t 추가 방법 1

In [10]:
df_= pd.read_csv('./dropped_to_current.csv')
df_

,Code,Date,Name,Close,Open,High,Low,day_percent
0,20,20210315,동화약품,14350.0,14250.0,14600.0,14100.0,0.701754
1,20,20210316,동화약품,14700.0,14350.0,14850.0,14350.0,2.439024
2,20,20210317,동화약품,15000.0,14900.0,15150.0,14700.0,0.671141
3,20,20210318,동화약품,14900.0,15100.0,15300.0,14900.0,-1.324503
4,20,20210319,동화약품,14900.0,14700.0,15000.0,14600.0,1.360544
...,...,...,...,...,...,...,...,...
23915,378850,20210322,화승알앤에이,6640.0,6750.0,6980.0,6560.0,-1.629630
23916,378850,20210323,화승알앤에이,6450.0,6710.0,6880.0,6450.0,-3.874814
23917,378850,20210324,화승알앤에이,6000.0,6320.0,6600.0,5910.0,-5.063291
23918,378850,20210325,화승알앤에이,5460.0,5830.0,5870.0,5400.0,-6.346484
23919,378850,20210326,화승알앤에이,5230.0,5450.0,5480.0,5140.0,-4.036697

In [4]:
df= df[['Code','Date','Close']]
df['Close'] = pd.to_numeric(df['Close'])

<ipython-input-4-941af050f10e>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Close'] = pd.to_numeric(df['Close'])

In [6]:
df['y_to_t_percent']= ''

(row,col)= df.shape

i=1
while i < row:
    if df.iloc[i,0] == df.iloc[i-1,0]:
        df.iloc[i,3]= (df.iloc[i,2]- df.iloc[i-1,2]) / df.iloc[i-1,2] * 100
    else:
        df.iloc[i,3]= ''
    i += 1

<ipython-input-6-cbe6bbd1f79e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['y_to_t_percent']= ''
C:\Users\tlagu\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

In [8]:
df.head(20)

   Code      Date    Close y_to_t_percent
0    20  20210315  14350.0
1    20  20210316  14700.0        2.43902
2    20  20210317  15000.0        2.04082
3    20  20210318  14900.0      -0.666667
4    20  20210319  14900.0              0
5    20  20210322  14650.0       -1.67785
6    20  20210323  14650.0              0
7    20  20210324  14300.0       -2.38908
8    20  20210325  14200.0      -0.699301
9    20  20210326  14200.0              0
10   40  20210315   1320.0
11   40  20210316   1370.0        3.78788
12   40  20210317   1350.0       -1.45985
13   40  20210318   1325.0       -1.85185
14   40  20210319   1345.0        1.50943
15   40  20210322   1345.0              0
16   40  20210323   1360.0        1.11524
17   40  20210324   1445.0           6.25
18   40  20210325   1385.0       -4.15225
19   40  20210326   1345.0       -2.88809

In [11]:
df_add_yt= pd.merge(df_, df, how="left")
df_add_yt

,Code,Date,Name,Close,Open,High,Low,day_percent,y_to_t_percent
0,20,20210315,동화약품,14350.0,14250.0,14600.0,14100.0,0.701754,
1,20,20210316,동화약품,14700.0,14350.0,14850.0,14350.0,2.439024,2.43902
2,20,20210317,동화약품,15000.0,14900.0,15150.0,14700.0,0.671141,2.04082
3,20,20210318,동화약품,14900.0,15100.0,15300.0,14900.0,-1.324503,-0.666667
4,20,20210319,동화약품,14900.0,14700.0,15000.0,14600.0,1.360544,0
...,...,...,...,...,...,...,...,...,...
23915,378850,20210322,화승알앤에이,6640.0,6750.0,6980.0,6560.0,-1.629630,-1.48368
23916,378850,20210323,화승알앤에이,6450.0,6710.0,6880.0,6450.0,-3.874814,-2.86145
23917,378850,20210324,화승알앤에이,6000.0,6320.0,6600.0,5910.0,-5.063291,-6.97674
23918,378850,20210325,화승알앤에이,5460.0,5830.0,5870.0,5400.0,-6.346484,-9
23919,378850,20210326,화승알앤에이,5230.0,5450.0,5480.0,5140.0,-4.036697,-4.21245

In [12]:
df_add_yt.to_csv('add_yt_percent.csv', index=False)